<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Healthcare Expenditure Quicklook</title>

	<!-- Leaflet CSS & JS -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
	integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
	crossorigin=""/> <!-- CSS -->
	<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
	integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
	crossorigin=""></script> <!-- js -->
	<!-- js -->
	<!-- d3 -->
	<script src="https://cdn.jsdelivr.net/npm/d3@5.9.2/dist/d3.min.js"></script> <!-- js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script> <!-- js -->
	<script src="https://cdn.jsdelivr.net/npm/chroma-js@2.0.3/chroma.min.js"></script> <!-- js -->
	<!-- mapbox -->
	<script src='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.js'></script> <!-- js -->
	<link rel='stylesheet' href='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.css' /> <!-- CSS -->
	<!-- plotly -->
	<script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> <!-- js -->
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script> <!-- js -->
	<!-- Our CSS -->
	<link rel="stylesheet" type="text/css" href="../static/css/style.css" /> <!-- CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- CSS -->
</head>

<body>

	<div class="container-fluid" id='title-section'>
		<div class="row">
			<div class="col-md-12 jumbotron text-center">
				<img id='RAIOlogo' src="{{ url_for('static', filename='Images/RAIO_LogoIII.png') }}"
					alt="Raio Logo">
				<h1>Orthofix Sunshine Quicklook</h1>
				<p>Physician Payment Data</p>
			</div>
		</div>
		<div class='container-fluid'>
			<div class='row'>
				<div id='map'></div>
			</div>
		</div>
		<!--jumbotron div-->
		<div class="row">
			<div class="col-md-2">
				<div class="well">
					<h5>Choose Doctor:</h5>
					<select id="selDataset" onchange="newSelection(this.value)"></select>
				</div>
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Dr Information</h3>
					</div>
					<div id="doctortable" class="panel-body">
					</div>
				</div>
			</div> <!-- metadatapanel div -->
			<div class="col-md-10">
				<div id="pie">
					<!--pie chart goes here-->
				</div>
			</div> <!-- pie chart div -->


		</div>


		<!-- <script src="{{ url_for('static', filename='js/app.js') }}"></script> -->
		<!-- <script src="{{ url_for('static', filename='js/config.js') }}"></script>		API key -->
		<script src="{{ url_for('static', filename='js/statesgeo.js') }}"></script>
		<script src="{{ url_for('static', filename='js/app.js') }}"></script>
		<script type="text/javascript" src="../static/js/config.js"></script>
		<!-- Read in GeoJson-->
		<!-- <script type="text/javascript" src="../static/js/statesgeo.js"></script> -->
		<!-- JS -->


</body>

</html>